div <div class="think-debug-toolbar" id="think-debug-toolbar" !{extra_attrs} />
	include ../assets/style.css
	a(id="TDT-show", href="javascript:void(0);", title="Open think-debug-toolbar") TDT
	#TDT
		- var tmp_p = ''
		div#TDT-menu
			span.text think-debug-toolbar
			ul
				- panels.forEach(function(panel){
					li: a(href='#TDT-' + panel.name, tab-id='TDT-' + panel.name, title=panel.name + ' panel')= panel.name
				- })
			a(id="TDT-close", title="close think-debug-toolbar toolbar", href="javascript:void(0);") CLOSE
			a(id="TDT-collapse", title="collapse think-debug-toolbar toolbar", href="javascript:void(0);") COLLAPSE
		#TDT-main
			- edt_first = ' active'
				- panels.forEach(function(panel){
					div(class='tab' + edt_first, id='TDT-' + panel.name)!= panel.html
					- if (edt_first) edt_first = ''
				- })

	include ../assets/js.js
